@model IEnumerable<BookStore.Entities.ValueAtt>

        <select id="values" name="values" class="form-control">
            @foreach (var item in Model)
            {
                <option value="@item.Id">@item.ValueText</option>
            }
        </select>
