
@model string
<div>
    <h2 class="text-center"> <i>@Model</i> data is not found in the database   @Html.ActionLink("Go BooksList", "Index") </h2>
</div>
<style>
     h2 {
            margin-left: 30%;
            margin-top: 15%;
       }
</style>
