@model IEnumerable<BookStore.Entities.ViewModel.BookViewModel>

@{
    ViewBag.Title = "Index";
 }
<link href="~/Content/Site.css" rel="stylesheet" />

<h2>Admin Panel</h2>

<br />
<p>
    @Html.ActionLink("Create Book", "Create")  | @Html.ActionLink("Create Author", "Index", "Authors")  |  @Html.ActionLink("Create Country", "Index", "CountryPublisheds")
</p>

<br />

<div>
    Search by name:
    <input id="SearchString" name="searchString" type="text" value="" />
    <input type="submit" value="Search" id="btnSearch" />   
</div>

@*<form class="navbar-form navbar-left">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" style="width:400px" id="SearchString" name="searchString">
    </div>
    <input type="submit" class="btn btn-default" id="btnSearch" value="gggg">
</form>*@

<br />
<br />
<br />
<div id="ProductList" class="table-responsive">
    @Html.Partial("IndexPartial",Model)
</div>


@section scripts
{
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <script src="~/Scripts/AdminSearch.js"></script>              
}





<style>
 
</style>













