@model IEnumerable<BookStore.Entities.ViewModel.BookViewModel>

@{
    ViewBag.Title = "Index";

}

<h2>Admin Panel</h2>

<br />
<p>
    @Html.ActionLink("Create Book", "Create")  | @Html.ActionLink("Create Author", "Index", "Authors")  |  @Html.ActionLink("Create Country", "Index", "CountryPublisheds")
</p>

<br />

<div>
    Search by name:
    <input id="SearchString" name="searchString" type="text" value="" />
    <input type="submit" value="Search" id="btnSearch" />
</div>

<br />
<br />

<div id="ProductList">
    @Html.Partial("IndexPartial",Model)
</div>


@section scripts
{
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <script src="~/Scripts/AdminSearch.js"></script>                  

}





















            @*<script>
                    var app = angular.module('myApp', []);
                    app.controller('myCtrl', function ($scope, BooksService) {

                        getTabledata();
                        function getTabledata() {
                            BooksService.getData().then(function (d) {
                                $scope.search = {};
                                $scope.searchBy = '$';

                                $scope.BooksList = d.data;

                            })
                        }
                    });

                    app.service("BooksService", function ($http) {
                        this.getData = function () {
                            return $http.get("/Admin/GetRecords");
                        }
                    });
                </script>*@
