@model IEnumerable<BookStore.Entities.ViewModel.BookViewModel>

@{
    ViewBag.Title = "Index";
 }
<link href="~/Content/Site.css" rel="stylesheet" />

<h2>Admin Panel</h2>

<br />
<p>
    @Html.ActionLink("Create Book", "Create")  | @Html.ActionLink("Create Author", "Index", "Authors")  |  @Html.ActionLink("Create Country", "Index", "CountryPublisheds")
</p>

<br />

<div style="text-align:left; width:100%;">  
    <input id="SearchString" name="searchString" type="text" value="" placeholder="Search title or author"  />
    <button type="button" class="btn btn-info" value="Search" id="btnSearch"  >
        <span class="glyphicon glyphicon-search"></span> 
    </button>
    @*<input type="submit" value="Search" id="btnSearch" placeholder="Search title or author" />*@   
</div>



<br />
<div id="ProductList" class="table-responsive">
    @Html.Partial("IndexPartial",Model)
</div>


@section scripts
{
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <script src="~/Scripts/AdminSearch.js"></script>              
}


<style>
    input[type=text] {
        width: 100%;
        padding: 4px 20px;
        margin: 8px 0;
        /*box-sizing: border-box;*/
        border-radius:25px;
 
    }
   #btnSearch
   {
       border-radius:25px;
       margin-left:-26px;
       padding: 7px 11px;

   }
    /*border-radius: 6px;*/    
</style>


@*<customErrors mode="On">
    <error statusCode="404" redirect="404.html" />
</customErrors>*@








