@*@model  IEnumerable<BookStore.Entities.Book>*@
@model IEnumerable<BookStore.Entities.ViewModel.BookViewModel>

@{
    ViewBag.Title = "Index";
}

 <h2 style="color:#867fb1">BooksList</h2>
<br />
<br />
<link href="~/Content/Site.css" rel="stylesheet" />
@*<div class="button_box2">
    <form class="form-wrapper-2 cf">
        <input type="text" name="searchString" id="SearchString" placeholder="Search by Book or Author..." required>
        <button type="submit" id="btnSearch"><i class="glyphicon glyphicon-search"></i></button>
    </form>
</div>*@


  

<div class="text-center"> 
    <span style="color:#867fb1" >Search by name: </span>
    <input id="SearchString" name="SearchString"  type="text"  value="" /> 
    <input type="submit"  value="Search" id="btnSearch" /> 
</div>

<br />
<br />
<br />
<br />
<div id="ProductList">
   @Html.Partial("IndexPartial",Model)
</div>       


@section scripts
 {
    <link href="~/Content/PagedList.css" rel="stylesheet" />      
    <script src="~/Scripts/BookSearch.js"></script>     
 }
<style>
    #SearchString
    {
        width:100%;
    }
</style>
