@model  IEnumerable<BookStore.Entities.Book>

@{
    ViewBag.Title = "Index";

}

<h2>Books</h2>
 
<br />
<br />

<div>  Search by name: 
    <input id="SearchString" name="SearchString" type="text" value="" /> 
    <input type="submit" value="Search" id="btnSearch" /> 
</div>
     
<div id="ProductList">
   @Html.Partial("IndexPartial", Model)
</div>       
 

@section scripts
 {
      <link href="~/Content/PagedList.css" rel="stylesheet" />      
      <script src="~/Scripts/BookSearch.js"></script>             
 }

       