@*@model  IEnumerable<BookStore.Entities.Book>*@
@model IEnumerable<BookStore.Entities.ViewModel.BookViewModel>

@{
    ViewBag.Title = "Index";
}

 <h2 style="color:#867fb1">BooksList</h2>
<link href="~/Content/Site.css" rel="stylesheet" />

  
@*<div class="text-center">   
    <input id="SearchString" name="SearchString"  type="text"  value="" placeholder="Search title or author" /> 
    <input type="submit"  value="Search" id="btnSearch" class="btn btn-default"  /> 
</div>*@
<div class="text-center">
    <img src="~/Images/Imgsearch/search.png" />
</div>
<div style="text-align:center; width:100%;">
    <input id="SearchString" name="searchString" type="text" value="" placeholder="Search title or author" />
    <button type="button" class="btn btn-info" value="Search" id="btnSearch">
        <span class="glyphicon glyphicon-search"></span> Search
    </button>
    @*<input type="submit" value="Search" id="btnSearch" placeholder="Search title or author" />*@
</div>
<br />
<div id="ProductList">
   @Html.Partial("IndexPartial",Model)
</div>       


@section scripts
 {
    <link href="~/Content/PagedList.css" rel="stylesheet" />      
    <script src="~/Scripts/BookSearch.js"></script>     
 }
<style>
  input[type=text] {
    width: 100%;
    padding: 4px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    max-width:500px;
    border-radius: 5px;
}
 
</style>
