@model IEnumerable<BookStore.Entities.ViewModel.BookViewModel>

@{
    ViewBag.Title = "Index";
}

 <h2 style="color:#867fb1">BooksList</h2>
<link href="~/Content/Site.css" rel="stylesheet" />

<div class="text-center">
    <img src="~/Images/Imgsearch/search.png" />
</div>
<div style="text-align:center; width:100%;">
    <input id="SearchString" name="searchString" type="text" value="" placeholder="Search title or author" autofocus/>
    <button type="button" class="btn btn-info" value="Search" id="btnSearch">
        <span class="glyphicon glyphicon-search"></span> Search
    </button>
</div>
<br />
<div id="ProductList">
   @Html.Partial("IndexPartial",Model)
</div>       


 @section scripts
 {   
    <script src="~/Scripts/BookSearch.js"></script>    
 }
<style>
  input[type=text] {
    width: 100%;
    padding: 4px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    max-width:500px;
    border-radius: 5px;
} 
  #btnSearch
  {
      margin-bottom:5px;
      margin-left:-10px;
  }
</style>
