@*@model  IEnumerable<BookStore.Entities.Book>*@
@model IEnumerable<BookStore.Entities.ViewModel.BookViewModel>

@{
    ViewBag.Title = "Index";

}

 <h2 style="color:#867fb1">BooksList</h2>
<br />
<br />


<div class="text-center"> 
    <span style="color:#867fb1" >Search by name: </span>
    <input id="SearchString" name="SearchString"  type="text"  value="" /> 
    <input type="submit"  value="Search" id="btnSearch" /> 
</div>

<br />
<br />

<div id="ProductList">
   @Html.Partial("IndexPartial",Model)
</div>       


@section scripts
 {
    <link href="~/Content/PagedList.css" rel="stylesheet" />      
    <script src="~/Scripts/BookSearch.js"></script>     
 }

 <style>
    input[type=text] 
    {
        width: 100%;
    }    
</style>