@model string

<div>
    <h4 class="text-center"><i>@Model</i> data is not found in the database   @Html.ActionLink("Go BooksList", "Index") </h4>
</div>

<style>
 h4
{
    margin-top:-3px;
}
</style>
