#magestore-bannerslider-popup{
	padding: 2px;
    position: fixed;
    z-index: 19990;
	background: #fff;
	border: 2px;
}
#magestore-bannerslider-popup-close{
	cursor: pointer;
    height: 22px;
	width:22px;
    position: absolute;
    right: 0px;
    top: -25px;   
    z-index: 19999;
	background:url(http://www.books.am/skin/frontend/bookinist/default/css/magestore/bannerslider/image/close-tiny.png) no-repeat center;
}
#bg_fade {
    background-color: #000000;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 1000;
	opacity: 0.7;
}
/**
 * StudioOne_Navigation extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       StudioOne
 * @package        StudioOne_Navigation
 * @copyright      Copyright (c) 2016
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
.tree,.tree ul,.tree li{list-style:none;margin:0;padding:0;}
.tree{background:url(http://www.books.am/skin/frontend/base/default/images/studioone_navigation/line1.png) repeat-y;}
.tree li{line-height:20px;margin-top:1px;position:relative;width:100%;}
* html .tree li{float:left;display:inline;}
.tree li a{padding-left:28px;}
.tree li span{cursor:auto;float:left;font-size:0;height:13px;left:5px;position:absolute;top:5px;width:13px;}
.tree li span,.tree li span.collapsed{background:url(http://www.books.am/skin/frontend/base/default/images/studioone_navigation/collapsed.png) no-repeat 0 0;}
.tree li span.expanded{background:url(http://www.books.am/skin/frontend/base/default/images/studioone_navigation/expanded.png) no-repeat 0 0;}
.tree li ul{margin-left:28px;background:url(http://www.books.am/skin/frontend/base/default/images/studioone_navigation/line1.png) repeat-y;}
.tree li li{background:url(http://www.books.am/skin/frontend/base/default/images/studioone_navigation/line2.png) no-repeat 0 0;}
.tree:after,.tree ul:after{clear:both;content:".";display:block;height:0;visibility:hidden;}
.tree,.tree ul{display:block;}
.tree li.map-category{font-weight:bold;}
.tree li.map-product{font-weight:normal;}
.tree li.map-product a{color:#203548;}
/* \*/ .tree,.tree ul{min-height:1%;}
* html .tree,* html .tree ul{height:1%;}

