
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin:0 auto;
  }



 #best
     {
	margin: 1em 0 0.5em 0;
	color: sandybrown;
	font-size: 18px;
	line-height: 20px;
	font-weight: normal;
	font-family: 'Orienta', sans-serif;
}


    .carousel-inner img
    {
        height:350px; width:700px;
    }
    
      #Search {
        width: 50%;
        border-radius: 5px;
    }
    #l
    {
        display:inline-block;
        margin-left:3px;
     
    }
    #SearchP {
        width: 100%;
        text-align: center;
    }
      
    .p {
        display: inline-block;
        width: 190px;
        height: 290px;
        margin: 15px;
        text-align: center;
       }

        .p img {
            margin-top: 7px;
        }

    .sp {
        padding: 8px;
        margin: 10px;
    }

    .p:hover {
        border: 1px solid;
        border-color: bisque;
    }

    .Price {
        margin-top: 7px;
    }
